* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(43, 0, 0), rgb(0, 0, 0, 0.5)), url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-color: rgb(255, 196, 0);
    /* background-size: 100%; */
}

h1 {
    text-align: center;
    color: rgb(255, 225, 0);
}

a:hover {
    text-decoration: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.adv {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

img {
    vertical-align: middle;
    border-style: none;
}

.title {
    display: flex;
    justify-content: center;
}

.title-text {
    color: rgb(255, 0, 0);
    font-size: 2.5rem;
}

.slot {
    display: block;
}

.slot .slot-sidebar {
    float: left;
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 10px;
    padding-left: 0;
    margin-top: 5px;
    background-color: #000000;
}

.slot-sidebar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.slot-sidebar-nav > li {
    border-bottom: 1px solid #ffc400;
    width: 100%;
    position: relative;
    display: block;
}

.slot-sidebar-nav > li > a {
    color: #fff;
    font-size: 13px;
    padding: 7px 10px;
    display: block;
}

.btn-provider i {
    margin-right: 5px;
}

.enter {
    display: none;
}

.btn-provider span {
    position: absolute;
    transform: translateY(10px);
}

.pragma-logo {
    background-image: url(../assets/Pragmaticplay.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px;
}

.haba-logo {
    background-image: url(../assets/habanero.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px;
}

.cq9-logo {
    background-image: url(../assets/cq9-2.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px;
}

.pg-logo {
    background-image: url(../assets/pg.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px;
}

.micro-logo {
    background-image: url(../assets/microgaming.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px;
}


.ps-logo {
    background-image: url(../assets/playstar.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px;
}

.sg-logo {
    background-image: url(../assets/spadegaming.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px;
}

.active {
    background-color: #ffcc00;
}

.slot .content {
    float: right;
    width: 80%;
    padding: 0;
    flex: 0 0 80%;
    max-width: 80%;
}

.wrapper {
    width: 100%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.card {
    float: left;
    width: 25%;
    background: transparent;
    border: none;
    text-align: center;
    position: relative;
}

.card-content {
    background: #0092b1;
    margin: 5px;
    color: #fff;
    font-size: 12px;
    border: none;
    overflow: hidden;
    position: relative;
}

.percent {
    height: 27px;
    display: flex;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #e9ecef;
    /* border-radius: .25rem; */
    position: relative;
    z-index: 1;
}

.percent p {
    z-index: 15;
    position: absolute;
    width: 100%;
    height: 5%;
    font-size: 20px;
    font-weight: bold;
    transform: translateY(100px);
    color: rgb(0, 0, 0);
}

.percent-bar {
    /* background-color: #ffc107; */
    background-image: linear-gradient(45deg, rgba(255, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 0, 0, 0.15) 50%, rgba(255, 0, 0, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    /* background-color: #007bff; */
    transition: width 0.6s ease;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    /* animation: ; */
    z-index: 10;
}

.yellow {
    background-color: #ffc107;
}

.green {
    background-color: #28a745;
}

.red {
    background-color: #dc3545;
}

.hover-btn {
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.65);
    transition: all 0.45s ease-in-out;
    z-index: 10;
    width: 100%;
}

.play-btn {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 25% auto;
    padding: 8px;
    background-color: #ffe100;
}

.img-zoom {
    transition: all 0.45s ease-in-out;
    height: 141px;
}

.hover-btn:hover {
    opacity: 100%;
}

.hover-btn:hover ~ .img-zoom {
    transform: scale(1.2);
    position: relative;
}

.next-btn {
    display: none;
    width: 30%;
}

.mySlides {
    display: none;
}

.next-btn {
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .slot-sidebar-nav {
        flex-wrap: nowrap;
    }
    .slot-sidebar {
        float: none !important;
        width: 100% !important;
        flex: none !important;
        max-width: 100% !important;
        padding-right: 0 !important;
    }
    .content {
        float: none !important;
        width: 100% !important;
        flex: none !important;
        max-width: 100% !important;
    }
    .card {
        width: 33.3% !important;
    }
    .hover-btn:hover {
        opacity: 0;
    }

    .hover-btn:hover ~ .img-zoom {
        transform: scale(1);
        position: relative;
    }
    body {
        background: #000000;
    }
    .btn-provider {
        text-align: center;
        display: block;
    }
    .slot-sidebar-nav > li > a {
        height: 70px;
    }
    .enter {
        display: block;
    }
    .btn-provider span {
        position: unset;
    }
    .btn-provider i {
        margin: 0;
    }
    .slot-sidebar-nav li {
        border-left: 0.2px solid #000000;
        border-right: 0.2px solid #000000;
        border-bottom: none;
    }
    .img-zoom {
        height: auto;
    }
    .next-btn {
        display: block;
    }
    .res-bar {
        display: none;
    }
}
